.contentholder{
    background-color: #f2f2f2;
    width: 1304px;
    border: 2px solid #cfd9d6;
    margin: 80px 298px;
}

#nametitle{
    margin-top: 140px;
    margin-left: 490px;
    margin-right: 490px;
    width: 325px;
}

#title{
    font-size: 32pt;
    color: #080a0a;
    text-decoration: none;
}

#divider{
    height: 2px;
    width: 1100px;
    background-color: #cfd9d6;
    margin: 75px 102px;
}

#whitespace{
    height: 30px;
    width: 759.14px;
    background-color: #f2f2f2;
    position: absolute;
    top: 325px;
    margin: 0px 273px
}

#navbar{
    display: flex;
}

#navitems{
    margin: 0px 43px;
    text-decoration: none;
    color: #cfd9d6;
    font-weight: bold;
    font-size: 17pt;
}

#navitems:hover{
    margin: 0px 43px;
    text-decoration: none;
    color: #080a0a;
    font-weight: bold;
    border-bottom: 2px solid #cfd9d6;
}

#profpic{
    height: 250px;
    margin: 15px 340px;
}

#aboutme{
    width: 625px;
    font-size: 13pt;
    margin: 10px 340px;
    line-height: 30px;
    padding-bottom: 20px;
}

#socialstuff{
    width: 1100px;
    height: 72.67px;
    margin: 0px 102px;
    border-top: 2px solid #cfd9d6;
    border-bottom: 2px solid #cfd9d6;
    margin-bottom: 100px;
}

#socialcontent{
    display: flex;
    padding-left: 150px;
    height: 35px;
    width: 0px;
    right: 530px;
    top: 1810px;
    margin-left: 815px;
    margin-top: 18px;
}

#facebook{
    height: 35px;
    margin: 0px 2.5px;
}

#twitter{
    height: 35px;
    margin: 0px 2.5px;
}

#linkedin{
    height: 35px;
    margin: 0px 2.5px;
}

#aboutme2{
    width: 770px;
    font-size: 13pt;
    margin: 0px 267px;
    margin-bottom: 10px;
    margin-top: 150px;
    line-height: 30px;
    padding-bottom: 20px;
}

#aboutme3{
    width: 770px;
    font-size: 13pt;
    margin: 10px 267px;
    line-height: 30px;
    padding-bottom: 20px;
    position: relative;
}

#funnyface{
    width: 320px;
    float: left;
    margin-bottom: 25px;
    margin-right: 35px;
}

#tablesect{
    margin: 100px 100px;
    
}

#otherworktable{
    align-content: center;
    
    
}
#titlerow{
    line-height: 45px;
    border-bottom: 2px solid #cfd9d6;
}

#otherworkrow{

}

#tabletitledata{
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

#tabledata{
    
}

#bp01{
    width: 300px;
    margin: 25px 25px;
}

#bp02{
    width: 300px;
    margin: 25px 25px;
}

#bp03{
    width: 300px;
    margin: 25px 25px;
}