body{
    margin: 0;
    font-family: "Open Sans";
    background-color: #f2f2f2;
    width: 1903px;
}

.selected{
    margin: 0px 43px;
    text-decoration: none;
    color: #080a0a;
    font-weight: bold;
    font-size: 17pt;
    border-bottom: 2px solid #cfd9d6;
}