body{
    margin: 0;
    height: 100vh;
    font-family: "Open Sans";
}

.header{
    min-height: 121.06px;
    background-color: #080a0a;
    font-size: 16pt;
    font-weight: bold;
    width: 1903px;
    z-index: 1;
    position: absolute;
    display: block;
}

section.footer{
    height: 419px;
    width: 1903px;
    background-color: #212829;
    position: absolute;
    top: 4448px;
}
