.mainmenu{
    float: right;
    display: flex;
}

.logo{
    height: 90px;
    width: inherit;
    margin-left: 115px;
    margin-top: 13px;
}

.mainmenu-item{
    padding: 15px 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.mainmenu-item #mainmenu-lastitem{
    margin-right: 125px;
}

.mainmenu-link{
    color: #f2f2f2;
    text-decoration: none;
    padding: 5px 13px;
}

.mainmenu-linkselect{
    color: #cfd9d6;
    text-decoration: none;
    padding: 5px 13px;
}

.mainmenu-link:hover{
    color: #cfd9d6;
}

section#bg01{
    background: url(/images/markus-spiske-hvSr_CVecVI-unsplash.jpg);
    background-size: 1903px;
    width: 1903px;
    height: 1000px;
}

section#picheader{
    background-color: #f2f2f2;
    min-height: 304.16px;
    width: 1903px;
    height: 304.16px;
    position: absolute;
    display: block;
    top: 800px;
}

section#pnb{
    min-height: 1358.89px;
    width: 1903px;
    height: 2787.14px;
    /*background-color: #f2f2f2;*/
    position: absolute;
    display: block;
    top: 800px;
}

#sociallinks{
    font-size: 14pt;
    font-weight: bold;
    color: #cfd9d6;
    margin: 75px 695px;
    width: 500px;
}

#sociallink-clickable:hover{
    color: #f2f2f2;
}

#sociallink-clickable{
    font-weight: bold;
    color: #cfd9d6;
    text-decoration: none;
    border-bottom: 1px solid #cfd9d6;
    padding-bottom: 2px;
}

#dot{
    font-weight: bold;
    color: #cfd9d6;
    
}

#boringstuffR{
    font-weight: bold;
    color: #cfd9d6;
    text-decoration: none;
    border-bottom: 1px solid #cfd9d6;
    padding-bottom: 2px;
    margin-left: 825.5px;
}

#boringstuffL{
    font-weight: bold;
    color: #cfd9d6;
    text-decoration: none;
    border-bottom: 1px solid #cfd9d6;
    padding-bottom: 2px;
}

#boringstuffR:hover{
    color: #f2f2f2;
}

#boringstuffL:hover{
    color: #f2f2f2;
}

body{
    margin: 0;
    height: 100vh;
    font-family: "Open Sans";
}

.header{
    min-height: 121.06px;
    background-color: #080a0a;
    font-size: 16pt;
    font-weight: bold;
    width: 1903px;
    z-index: 1;
    position: absolute;
    display: block;
}

section{
    height: 100%;
    background-color: #f2f2f2;
}

.footer{
    height: 419px;
    width: 1903px;
    background-color: #212829;
    position: absolute;
    top: 3587px;
}

#aboutheading{
    width: 1413.48px;
    position: relative;
    top: 115px;
    color: #080a0a;
    z-index: 1;
    line-height: 25px;
    left: 275px;
    text-align: center;
    font-weight: 100;
    font-size: 50pt;
}

#insurp{
    width: 1413.48px;
    position: absolute;
    top: 220px;
    color: #080a0a;
    z-index: 1;
    line-height: 25px;
    left: 275px;
    text-align: center;
    font-weight: 600;
    font-size: 19pt;
}

#summary{
    width: 1413.48px;
    position: absolute;
    top: 275px;
    color: #080a0a;
    z-index: 1;
    line-height: 25px;
    left: 275px;
    text-align: center;
}

#personalpic{
    border: none;
    position: absolute;
    top: 450px;
    right: 120px;
    height: 1047.33px;
    width: 650px;
}

#background{
    position: absolute;
    top: 450px;
    left: 120px;
    background-color: #cfd9d6;
    height: 1047.33px;
    width: 970.7px;
}

#interestingpic{
    position: absolute;
    top: 1535px;
    left: 120px;
    height: 650.22px;
    width: 650px;
}

#otherstuff{
    position: absolute;
    top: 1535px;
    right: 120px;
    background-color: #cfd9d6;
    height: 650.22px;
    width: 970.7px;
}

#insurp2{
    width: 1413.48px;
    position: absolute;
    top: 2310px;
    color: #080a0a;
    z-index: 1;
    line-height: 25px;
    left: 275px;
    text-align: center;
    font-weight: 600;
    font-size: 19pt;
}

#list1{
    position: absolute;
    top: 2390px; 
    left: 550px;
}

#list2{
    position: absolute;
    top: 2390px;
    right: 650px;
}

#aboutli{
    line-height: 37px;
}

#aboutdot{
    font-weight: bold;
    font-size: 15pt;
    padding-right: 10px;
}

#backgroundheading{
    position: absolute;
    left: 45px;
    top: 290px;
    font-size: 14pt;
    font-weight: 500;
}

#backgroundp1{
    position: absolute;
    font-size: 14pt;
    width: 890.7px;
    top: 365px;
    left: 45px;
    line-height: 30px;
}

#backgroundp2{
    position: absolute;
    font-size: 14pt;
    width: 890.7px;
    top: 495px;
    left: 45px;
    line-height: 30px;
}

#backgroundp3{
    position: absolute;
    font-size: 14pt;
    width: 890.7px;
    top: 660px;
    left: 45px;
    line-height: 30px;
}

#otherstuffheading{
    position: absolute;
    left: 45px;
    top: 125px;
    font-size: 14pt;
    font-weight: 500;
}

#otherstuffp{
    position: absolute;
    font-size: 14pt;
    width: 890.7px;
    top: 225px;
    left: 45px;
    line-height: 30px;
}