body{
    display: inline-block;
    width: 100%;
}

section{
    width: 100%;
}

.st0 {
    stroke-dasharray: 1050;
    stroke-dashoffset: 1000;
    animation: dash 7s linear alternate infinite;
    fill: #050505;
}

.st0:hover {
    fill: #F1F2F2;
}

.st1 {
    stroke-dasharray: 1050;
    stroke-dashoffset: 1000;
    animation: dash 7s linear alternate infinite;
}

.st1:hover {
    fill: #EF3B39;
}


@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1050;
    }
}

#filler{
    height: 100vh;
    background-color: #050505;
}

.line-drawing-demo{
    position: absolute;
    width: 35vw;
    left: 31vw;
}

#intro{
    display: inline-block;
    color: #F1F2F2;
    font-family: "Open Sans";
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 73vh;
    left: 30.7vw;
}

#name{
    color: #EF3B39;

}

.continuebutton{
    width: 11.5vw;
    height: 5.3vh;
    border: 2px solid #F1F2F2;
    position: absolute;
    top: 88.3vh;
    left: 42.7vw;
    cursor: pointer;
    font-family: "Open Sans";
}

.continuebutton:hover {
    background-color: #EF3B39;
    border-color: #EF3B39;
}

.arrow{
    height: 2vh;
    width: 2vh;
    position: absolute;
    right: 1.4vw;
    top: 1.9vh;
}

#cbtext{
    color: #F1F2F2;
    font-size: 1.1vw;
    position: absolute;
    top: 1.7vh;
    left: 1vw;
    text-decoration: none;
}

#navbar {
    background-color: #3B4750;
    position: absolute;
    width: 100%;
    height: 7vh;
    border-bottom: 5px solid #EF3B39;
}
#navbar2 {
    background-color: #3B4750;
    width: 100%;
    height: 7vh;
    border-bottom: 5px solid #EF3B39;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#navbar.stick {
    width: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#nav{
    display: flex;
    font-family: "Open Sans";
    position: relative;
    left: 23vw;
    top: 2.6vh;
    width: 32vw;
    height: 2vh;
}

#nav2{
    display: flex;
    font-family: "Open Sans";
    position: relative;
    left: 23vw;
    top: 2.6vh;
    width: 32vw;
    height: 2vh;
}

#navitem{
    font-size: 1vw;
    font-weight: 400;
    margin-right: 4vw;
    text-decoration: none;
    color: #F1F2F2;
}

#bio{
    height: 135vh;
    background-color: #F1F2F2;
    font-family: "Open Sans";
    padding-top: 15vh;
}

#aboutheading{
    font-family: "Open Sans";
    width: 7vw;
    padding-bottom: 2vh;
    font-weight: 600;
    font-size: 2.06vw;
    border-bottom: .3vw solid #050505;
    position: relative;
    top: 12vh;
    left: 45.1vw;
}

#about{
    display: flex;
    position: relative;
    top: 25vh;
    left: 23vw;
    width: 50vw;
}

#aboutimg{
    height:8vw;
    margin: 0vw 2.03vw;
}

#aboutitems{
    padding: 0vh 2.55vw;
}

#abouttitles{
    text-align: center;
    font-size: 1.2vw;
    font-weight: 800;
    line-height: 1vw;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
}

#aboutp{
    text-align: center;
    font-size: .9vw;
    line-height: 2.5vh;
    font-weight: 400;
    width: 12vw;
}

#me{
    text-align: center;
    width: 20vw;
    position: relative;
    top: 37vh;
    left: 39vw;
}

#mepic{
    height: 14vw;
}

#metitle{
    font-size: 1.5vw;
    line-height: 3vh;
    font-weight: 800;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

#mep{
    font-size: .8vw;
    line-height: 2.4vh;
    font-weight: 400;
}

#meplug{
    text-decoration: none;
    color: #EF3B39;
}

#portfolio{
    height: 1250px;
    background-color: #fff;
    font-family: "Open Sans";
    padding-top: 5vh;
}

#blog{
    height: 125vh;
    background-color: #F1F2F2;
    font-family: "Open Sans";
    padding-top: 5vh;
}

#contact{
    height: 750px;
    background-color: #3B4750;
    font-family: "Open Sans";
    padding-top: 10vh;
}

#footer{
    height: 250px;
    background-color: #050505;
    font-family: "Open Sans";
    color: #F1F2F2;
    font-size: .7vw;
    text-align: center;
}

#footer p{
    position: relative;
    top: 65%;
}

#portfolioheading{
    font-family: "Open Sans";
    width: 11.57vw;
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 2.06vw;
    border-bottom: .3vw solid #050505;
    position: relative;
    top: 12vh;
    left: 43vw;
}

#blogheading{
    font-family: "Open Sans";
    width: 5.55vw;
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 2.06vw;
    border-bottom: .3vw solid #050505;
    position: relative;
    top: 12vh;
    left: 46.6vw;
}

#blogPlaceholder{
    position: relative;
    width: 28vw;
    top: 30vh;
    left: 35.8vw;
}

#contactheading{
    font-family: "Open Sans";
    color: #F1F2F1;
    width: 9.85vw;
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 2.06vw;
    border-bottom: .3vw solid #F1F2F1;
    position: relative;
    top: 12vh;
    left: 44vw;
}

#contactform{
    display: table;
    position: relative;
    top: 20vh;
    left: 36vw;
    font-family: "Open Sans";

}

#form-row{
    display: table-row;
    font-family: "Open Sans";
}

#name2{
    width: 25vw;
    height: 4vh;
    font-size: 1.07vw;
    text-indent: .7vw;
    background-color: #F1F2F1;
    border: 1px solid #000;
    color: #050505;
    font-family: "Open Sans";
}

#email{
    width: 25vw;
    height: 4vh;
    font-size: 1.07vw;
    text-indent: .7vw;
    margin-top: 5px;
    background-color: #F1F2F1;
    border: 1px solid #000;
    color: #050505;
    font-family: "Open Sans";
}

#textarea{
    width: 25vw;
    height: 15vh;
    font-size: 1vw;
    text-indent: .7vw;
    margin-top: 5px;
    background-color: #F1F2F1;
    border: 1px solid #000;
    color: #050505;
    font-family: "Open Sans";
}

#confirmbutton{
    margin-top: 5px;
    float: right;
    background-color: #3B4750;
    border: 2px solid #F1F2F1;
    width: 7vw;
    color: #F1F2F1;
    height: 4.5vh;
    font-size: 1.1vw;
}

#confirmbutton:hover{
    background-color: #EF3B39;
    border: 2px solid #EF3B39;
}

#cintro{
    color: #EF3B39;
    font-size: .97vw;
    position: relative;
    top: 14vh;
    left: 39vw;
    width: 19.3vw;
    font-family: "Open Sans";
}

#totop{
    width: 5vh;
    position: relative;
    top: -2.7vh;
    left: -.5vw;
}

#port-table{
    display: table;
    position: relative;
    top: 25vh;
    left: 17.5vw;
}

#port-row{
    display: flex;

}

#rowdata{
    margin: 1vw 3vw;
}

#game1{
    height: 15vw;
    width: 15vw;
    z-index: 1;
}

#game2{
    height: 15vw;
    width: 15vw;
    z-index: 1;
}

#game3{
    height: 15vw;
    width: 15vw;
    z-index: 1;
}

#site1{
    height: 15vw;
    width: 15vw;
    z-index: 1;
}

#site2{
    height: 15vw;
    width: 15vw;
    z-index: 1;
}

#site3{
    height: 15vw;
    width: 15vw;
    z-index: 1;
}

#game1:hover {
    background-color: #3B4750;
}

#game2:hover {
    background-color: #3B4750;
}

#game3:hover {
    background-color: #3B4750;
}

#site1:hover {
    background-color: #3B4750;
}

#site2:hover {
    background-color: #3B4750;
}

#site3:hover {
    background-color: #3B4750;
}

#pbword{
    text-decoration: none;
    color: #F1F2F1;
}

#hidder1{
    display: none;
}

#hidder2{
    display: none;
}

#hidder3{
    display: none;
}

#hidder4{
    display: none;
}

#hidder5{
    display: none;
}

#hidder6{
    display: none;
}

#portbutton{
    position: relative;
    background-color: #3B4750;
    border: 2px solid #F1F2F1;
    width: 7vw;
    color: #F1F2F1;
    height: 2.5vw;
    font-size: 1vw;
    text-align: center;
    line-height: 2.5vw;
    top: 6vw;
    left: 4vw;
}

#portbutton:hover{
    background-color: #EF3B39;
    border: 2px solid #EF3B39;
}

#porttitle{
    position: relative;
    font-size: 1.7vw;
    font-weight: 500;
    top: 2.5vw;
    line-height: 2.9vw;
    left: 4.2vw;
    width: 6.5vw;
    height: 2.2vw;
    text-align: center;
    color: #F1F2F1;
}

#portp2{
  position: relative;
    top: 2.7vw;
    width: 8.5vw;
    text-align: center;
    left: 3.2vw;
    font-size: 1.1vw;
    font-weight: 500;
    color: #EF3B39;
}

#portpic1{
    position: absolute;
    width: 15vw;
    z-index: 0;
}
#portpic2{
    position: absolute;
    width: 15vw;
    z-index: 0;
}
#portpic3{
    position: absolute;
    width: 15vw;
    z-index: 0;
}
#portpic4{
    position: absolute;
    width: 15vw;
    z-index: 0;
}
#portpic5{
    position: absolute;
    width: 15vw;
    z-index: 0;
}
#portpic6{
    position: absolute;
    width: 15vw;
    z-index: 0;
}